body{ 
  -webkit-column-break-inside: avoid;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.courseContainer {
  display: flex;
  flex-direction: row;
  break-inside: avoid;
  page-break-inside: avoid;
  -webkit-column-break-inside: avoid;
  margin: 0;
  border: 3px solid;
}

.favorite {
  background-color: yellowgreen;
  max-width: 200px;
  min-width: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notFavorite {
  background-color: gray;
  cursor: pointer;
  max-width: 200px;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterButton {
  background-color: yellow;
  border: 1px solid black;
  width: 200px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.courseDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.instructorImage {
  height: 150px;
  min-width: 150px;
}

.allCoursesContainer {
  display: inline-block;
  columns: 4;
  column-gap: 0px;
  width: 100%;
}

@media(max-width: 2000px) {
  .allCoursesContainer {
    columns: 3;
    display: inline-block;
    column-gap: 0px;
  }
}
@media(max-width: 1150px) {
  .allCoursesContainer {
    columns: 2;
    display: inline-block;
    column-gap: 0px;
  }
}
@media(max-width: 750px) {
  .allCoursesContainer {
    columns: 1;
    display: inline-block;
    column-gap: 0px;
  }
}
